@model IEnumerable<QuizIt.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Frågor</h2>

<p>
    <a asp-action="Create">Skapa ny fråga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fråga
            </th>
            <th>
                Svar
            </th>
            <th>
                Låt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Question question in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => question.TrackQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.Track.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@question.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@question.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@question.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
