@model TracksViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Låtar</h2>

<p>
    Här kan du söka efter låtar på Spotify..
    <a asp-action="Create">Create New</a> @*Ska inte kunna lägga till låtar eftersom vi utgår från vad som finns hos Spotify*@
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Search"> @*Search-metoden ska implementeras*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Track.Title" class="control-label">Titel</label>
                <input asp-for="Track.Title" class="form-control" />
                <span asp-validation-for="Track.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.Artist" class="control-label">Artist</label>
                <input asp-for="Track.Artist" class="form-control" />
                <span asp-validation-for="Track.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sök" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tracks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                    Ska inte kunna ändra eller ta bort låtarna eftersom dom kommer från Spotifys databas*@
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
